<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="AuthProviderConfiguration">
    <Parameter Name="Facebook.AppId" IsEncrypted="true" Value=""/>
    <Parameter Name="Facebook.AppSecret" IsEncrypted="true" Value=""/>
    <Parameter Name="Github.ClientId" IsEncrypted="true" Value=""/>
    <Parameter Name="Github.ClientSecret" IsEncrypted="true" Value=""/>
    <Parameter Name="Csrf.Salt" IsEncrypted="true" Value=""/>
    <Parameter Name="AuthenticationTypeName" IsEncrypted="false" Value="PartyAuthCookie"/>
  </Section>
</Settings>
