<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig" />

  <Section Name="ClusterConfigSettings">
    <Parameter Name="RefreshInterval" Value="00:00:10"/>
    <Parameter Name="MinimumClusterCount" Value="10"/>
    <Parameter Name="MaximumClusterCount" Value="20" />
    <Parameter Name="MaximumUsersPerCluster" Value="5"/>
    <Parameter Name="MaximumClusterUptime" Value="02:00:00" />
    <Parameter Name="UserCapacityHighPercentThreshold" Value="0.75"/>
    <Parameter Name="UserCapacityLowPercentThreshold" Value="0.25" />
  </Section>
  
  <Section Name="SendGridSettings">
    <Parameter Name="Username" IsEncrypted="true" Value="" />
    <Parameter Name="Password" IsEncrypted="true" Value="" />
    <Parameter Name="MailAddress" Value="partycluster@azure.com" />
    <Parameter Name="MailFrom" Value="Service Fabric Party Cluster Team" />
    <Parameter Name="MailSubject" Value="Welcome to the Azure Service Fabric party" />
  </Section>
  
  <Section Name="AzureSubscriptionSettings">
    <Parameter Name="Region" Value="westus" />
    <Parameter Name="ClientID" IsEncrypted="true" Value="" />
    <Parameter Name="ClientSecret" IsEncrypted="true" Value="" />
    <Parameter Name="Authority" IsEncrypted="true" Value="" />
    <Parameter Name="SubscriptionID" IsEncrypted="true" Value="" />
    <Parameter Name="Username" IsEncrypted="true" Value="" />
    <Parameter Name="Password" IsEncrypted="true" Value="" />
  </Section>
</Settings>
