<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig" />

  <Section Name="ClusterConfigSettings">
    <Parameter Name="RefreshInterval" Value="00:00:30"/>
    <Parameter Name="MinimumClusterCount" Value="10"/>
    <Parameter Name="MaximumClusterCount" Value="50" />
    <Parameter Name="MaximumUsersPerCluster" Value="5"/>
    <Parameter Name="MaximumClusterUptime" Value="02:00:00" />
    <Parameter Name="UserCapacityHighPercentThreshold" Value="0.75"/>
    <Parameter Name="UserCapacityLowPercentThreshold" Value="0.25" />
  </Section>
  
  <Section Name="SendGridSettings">
    <Parameter Name="Username" Value=""/>
    <Parameter Name="Password" Value="" />
  </Section>
  
  <Section Name="AzureSubscriptionSettings">
    <Parameter Name="Region" Value="westus"/>
    <Parameter Name="ClientID" Value=""/>
    <Parameter Name="ClientSecret" Value="" />
    <Parameter Name="Authority" Value="" />
    <Parameter Name="SubscriptionID" Value="" />
    <Parameter Name="Username" Value="" />
    <Parameter Name="Password" Value="" />
  </Section>
</Settings>
